<header class="featured">
  <img class="feature-image" src="{{feature_image}}">
  <section class="container">
    <div class="featured-container">
      <a href="{{primary_tag.url}}" class="feature-tag">
        {{> "icons/tag"}}
        {{primary_tag.name}}
      </a>
      <h1 class="feature-headline">{{title}}</h1>
      <p class="feature-preview">{{excerpt}}</p>
      <a href="{{url}}" class="read-button">
        Read
        {{> "icons/chevron"}}
      </a>
    </div>
  </section>
</header>