<header class="featured">
  <img class="feature-image" src="{{feature_image}}">
  <section class="container">
    <div class="featured-container">
      <a href="{{primary_tag.url}}" class="feature-tag">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor"
            d="M497.941 225.941L286.059 14.059A48 48 0 0 0 252.118 0H48C21.49 0 0 21.49 0 48v204.118a47.998 47.998 0 0 0 14.059 33.941l211.882 211.882c18.745 18.745 49.137 18.746 67.882 0l204.118-204.118c18.745-18.745 18.745-49.137 0-67.882zM259.886 463.996L48 252.118V48h204.118L464 259.882 259.886 463.996zM192 144c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z">
          </path>
        </svg>
        {{primary_tag.name}}
      </a>
      <h1 class="feature-headline">{{title}}</h1>
      <p class="feature-preview">{{excerpt}}</p>
      <a href="{{url}}" class="read-button">
        Read
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
          <path fill="currentColor"
            d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z">
          </path>
        </svg>
      </a>
    </div>
  </section>
</header>