<header class="featured" style="background: url({{feature_image}}) no-repeat center / cover, #111111">
  <div class="container">
    <div class="featured-container">
      <a href="{{primary_tag.url}}" class="feature-tag">
        {{> "icons/tag"}}
        {{primary_tag.name}}
      </a>
      <h1 class="feature-headline">{{title}}</h1>
      <p class="feature-preview">{{excerpt}}</p>
      <a href="{{url}}" class="read-button">
        Read More
        {{> "icons/chevron"}}
      </a>
    </div>
  </div>
</header>