{{!< default}}
{{#author}}
<header class="featured" style="background: linear-gradient(to top, rgba(0,0,0,.2), rgba(0,0,0,.3)), url({{cover_image}}) no-repeat center / cover, #111">
  <div class="container">
    <div class="featured-container">
      {{#if location}}
      <span class="author-location">
        {{> "icons/location"}}
        From {{location}}
      </span>
      {{/if}}
      <h1 class="feature-headline">{{name}}</h1>
    </div>
  </div>
</header>

<div class="container">
  <aside class="about">
    <div class="row">
      <div class="column left">
        <h1>Hi, I'm {{name}}.</h1>
        {{#if bio}}
          <p>{{bio}}</p>
        {{/if}}
        <div class="icons">
          {{#if website}}
          <a href="{{website}}" class="icon">
            {{> "icons/web"}}
          </a>
          {{/if}}
          {{#if twitter}}
          <a href="{{twitter_url}}" class="icon">
            {{> "icons/twitter"}}
          </a>
          {{/if}}
          {{#if facebook}}
          <a href="{{facebook_url}}" class="icon">
            {{> "icons/facebook"}}
          </a>
          {{/if}}
        </div>
      </div>
      <div class="column right">
        {{#if profile_image}}
          <img class="profile-image" src="{{profile_image}}" alt="{{name}}">
        {{/if}}
      </div>
    </div>
  </section>
</div>
{{/author}}

<div class="container overlap">
  <section class="articles">
    <div class="row">
      <article>
        <div class="column left">
          <a href="{{posts.0.url}}">
            <img class="post-image" src="{{posts.0.feature_image}}">
          </a>
        </div>
        <div class="column right">
          <a href="{{posts.0.url}}">
            <h1>{{posts.0.title}}</h1>
          </a>
          <aside class="meta-text">
            by <a href="{{posts.0.authors.0.url}}" class="author"><span>{{posts.0.authors.0.name}}</span></a> on
            <span>{{date posts.0.published_at format="DD. MMMM YYYY"}}</span>
          </aside>
          <p>{{posts.0.excerpt}}</p>
          <aside class="meta">
            <a class="meta" href="{{posts.0.primary_tag.url}}">
              {{> "icons/tag"}}
              {{posts.0.primary_tag.name}}
            </a>
          </aside>
        </div>
      </article>
    </div>
    <div class="row"></div>
    <div class="row"></div>

    <div class="two-articles">
      <article>
        <div class="margin-right">
          <a href="{{posts.1.url}}">
            <h1>{{posts.1.title}}</h1>
          </a>
          <div class="meta">
            by <a href="{{posts.1.authors.0.url}}" class="author"><span>{{posts.1.authors.0.name}}</span></a> on
            <span>{{date posts.1.published_at format="DD. MMMM YYYY"}}</span>
          </div>
          <p>{{posts.1.excerpt}}</p>
          <a href="{{posts.1.primary_tag.url}}" class="tag">
            {{> "icons/tag"}}
            {{posts.1.primary_tag.name}}
          </a>
        </div>
      </article>
      <article>
        <div class="margin-left">
          <a href="{{posts.2.url}}">
            <h1>{{posts.2.title}}</h1>
          </a>
          <div class="meta">
            by <a href="{{posts.2.authors.0.url}}" class="author"><span>{{posts.2.authors.0.name}}</span></a> on
            <span>{{date posts.2.published_at format="DD. MMMM YYYY"}}</span>
          </div>
          <p>{{posts.2.excerpt}}</p>
          <a href="{{posts.2.primary_tag.url}}" class="tag">
            {{> "icons/tag"}}
            {{posts.2.primary_tag.name}}
          </a>
        </div>
      </article>
    </div>
    <article class="image-right">
      <div class="margin-right">
        <a href="{{posts.3.url}}">
          <h1>{{posts.3.title}}</h1>
        </a>
        <div class="meta">
          by <a href="{{posts.3.authors.0.url}}" class="author"><span>{{posts.3.authors.0.name}}</span></a> on
          <span>{{date posts.3.published_at format="DD. MMMM YYYY"}}</span>
        </div>
        <p>{{posts.3.excerpt}}</p>
        <a href="{{posts.3.primary_tag.url}}" class="tag">
          {{> "icons/tag"}}
          {{posts.3.primary_tag.name}}
        </a>
      </div>
      <div class="margin-left">
        <a href="{{posts.3.url}}">
          <img class="post-image" src="{{posts.3.feature_image}}">
        </a>
      </div>
    </article>
  </section>
</div>
