<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
  </head>
  <body class="{{body_class}}"> 
    <header class="global">
      <div class="container">
        <div class="brand">
          <a href="{{@site.url}}">
            {{#if @site.logo}}
            <img class="logo" src="{{@site.logo}}" alt="Logo of {{@site.title}}">
            {{else}}
            <span class="title">{{@site.title}}</span>
            {{/if}}
          </a>
        </div>
        {{#if @site.navigation}}
          <div class="nav">
            {{#foreach @site.navigation}}
              <a class="{{slug}}" href="{{url absolute="true"}}">{{label}}</a>
            {{/foreach}}
          </div>
        {{/if}}
      </div>
    </header>
    
    {{{body}}}

    {{ghost_foot}}

    <footer>
      <div class="container">
        <div class="footer-left">
          <a href="{{@site.url}}">
            {{#if @site.logo}}
              <img class="logo" src="{{@site.logo}}" alt="Logo of {{@site.title}}">
            {{else}}
              <span class="title">{{@site.title}}</span>
            {{/if}}
          </a>
          {{#if @site.secondary_navigation}}
            <div class="secondary-nav">
              {{#foreach @site.secondary_navigation}}
                <a class="{{slug}}" href="{{url absolute="true"}}"><span>{{label}}</span></a>
              {{/foreach}}
            </div>
          {{/if}}  
        </div>
        <div class="footer-right">
          <span class="copyright">Copyright &copy; {{@site.title}}, {{date format="YYYY"}}. All Rights Reserved.</span>
          <span class="credits">Published with <a href="https://ghost.org/">Ghost</a>.</span>
          <span class="credits"><a href="https://github.com/tobimori/dreams/">Dreams</a> made with ❤︎ by <a href="https://github.com/tobimori/">tobimori</a>.</span>
        </div>
      </div>
    </footer>
  </body>
</html>