<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/main.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
  </head>
  <body class="{{body_class}}"> 

    {{{body}}}

    {{ghost_foot}}

    <footer>
      <section class="container">
        <div class="footer-left">
          <span>{{@site.title}}</span>
        </div>
        <div class="footer-right">
          <span class="copyright">Copyright &copy; {{@site.title}}, {{date format="YYYY"}}. All Rights Reserved.</span>
          <span class="credits">Published with <a href="https://ghost.org/">Ghost</a>.</span>
          <span class="credits"><a href="https://github.com/tobimori/dreams/">Dreams</a> made with ❤︎ by <a href="https://github.com/tobimori/">tobimori</a>.</span>
        </div>
      </section>
    </footer>
  </body>
</html>