{{!< default}}
<header class="featured"
  style="background: linear-gradient(to top, rgba(0,0,0,.2), rgba(0,0,0,.3)), url({{@site.cover_image}}) no-repeat center / cover, #111111">
  <div class="container">
    <div class="featured-container">
      <h1 class="feature-headline">{{statusCode}}</h1>
      <p class="feature-preview">{{message}}</p>
      {{#if errorDetails}}
      {{#foreach errorDetails}}
      <p class="feature-preview">{{rule}}</p>
        {{#foreach failures}}
        <p class="feature-preview">Ref: {{ref}}</p>
        <p class="feature-preview">Message: {{message}}</p>
        {{/foreach}}
      {{/foreach}}
      {{/if}}
      <a href="{{@site.url}}" class="read-button">
        Go to front page
        {{> "icons/chevron"}}
      </a>
    </div>
  </div>
</header>