{{!< default}}

{{#get "posts" include="tags,authors" filter="featured:true" limit="1" as |featured|}}
  {{#if featured}}
    {{#foreach featured}}
      {{> "top-story"}}
    {{/foreach}}
  {{else}}
    {{#get "posts" include="tags,authors" limit="1" as |lastpost|}}
      {{#foreach lastpost}}
        {{> "top-story"}}
      {{/foreach}}
    {{/get}}
  {{/if}}
{{/get}}

<div class="container">
  <section class="articles">
    <article class="image-right no-margin">
      <div class="margin-right">
        <a href="{{posts.0.url}}">
          <h1>{{posts.0.title}}</h1>
        </a>
        <div class="meta">
          by <a href="{{posts.0.authors.0.url}}" class="author"><span>{{posts.0.authors.0.name}}</span></a> on <span>{{date posts.0.published_at format="DD. MMMM YYYY"}}</span>
        </div>
        <p>{{posts.0.excerpt}}</p>
        <a href="{{posts.0.primary_tag.url}}" class="tag">
          {{> "icons/tag"}}
          {{posts.0.primary_tag.name}}
        </a>
      </div>
      <div class="margin-left">
        <a href="{{posts.0.url}}">
          <img class="post-image" src="{{posts.0.feature_image}}">
        </a>
      </div>
    </article>
    <div class="two-articles">
      <article>
        <div class="margin-right">
          <a href="{{posts.1.url}}">
            <h1>{{posts.1.title}}</h1>
          </a>
          <div class="meta">
            by <a href="{{posts.1.authors.0.url}}" class="author"><span>{{posts.1.authors.0.name}}</span></a> on
            <span>{{date posts.1.published_at format="DD. MMMM YYYY"}}</span>
          </div>
          <p>{{posts.1.excerpt}}</p>
          <a href="{{posts.1.primary_tag.url}}" class="tag">
            {{> "icons/tag"}}
            {{posts.1.primary_tag.name}}
          </a>
        </div>
      </article>
      <article>
        <div class="margin-left">
          <a href="{{posts.2.url}}">
            <h1>{{posts.2.title}}</h1>
          </a>
          <div class="meta">
            by <a href="{{posts.2.authors.0.url}}" class="author"><span>{{posts.2.authors.0.name}}</span></a> on
            <span>{{date posts.2.published_at format="DD. MMMM YYYY"}}</span>
          </div>
          <p>{{posts.2.excerpt}}</p>
          <a href="{{posts.2.primary_tag.url}}" class="tag">
            {{> "icons/tag"}}
            {{posts.2.primary_tag.name}}
          </a>
        </div>
      </article>
    </div>
    <article>
      <div class="margin-right">
        <a href="{{posts.3.url}}">
          <img class="post-image" src="{{posts.3.feature_image}}">
        </a>
      </div>
      <div class="margin-left">
        <a href="{{posts.3.url}}">
          <h1>{{posts.3.title}}</h1>
        </a>
        <div class="meta">
          by <a href="{{posts.3.authors.0.url}}" class="author"><span>{{posts.3.authors.0.name}}</span></a> on <span>{{date posts.3.published_at format="DD. MMMM YYYY"}}</span>
        </div>
        <p>{{posts.3.excerpt}}</p>
        <a href="{{posts.3.primary_tag.url}}" class="tag">
          {{> "icons/tag"}}
          {{posts.3.primary_tag.name}}
        </a>
      </div>
    </article>
  </section>
</div>
