{{!< default}}

{{#post}}
<header class="featured"
  style="background: linear-gradient(to top, rgba(0,0,0,.2), rgba(0,0,0,.3)), url({{feature_image}}) no-repeat center / cover, #111111">
  <div class="container">
    <div class="featured-container">
      <aside class="meta">
        <a href="{{primary_tag.url}}" class="feature-tag">
          {{> "icons/tag"}}
          {{primary_tag.name}}
        </a>
        <span class="readingtime">
          {{> "icons/readtime"}}
          {{reading_time}}
        </span>
      </aside>
      <h1 class="feature-headline">{{title}}</h1>
      {{#if custom_excerpt}}
      <p class="feature-preview">{{custom_excerpt}}</p>
      {{/if}}
      <aside class="meta text">
        <span>by</span><a href="{{primary_author.url}}" class="author"><span class="special">{{primary_author.name}}</span></a><span>on</span>
        <span class="special">{{date published_at format="DD. MMMM YYYY"}}</span></aside>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <article class="main {{post_class}}">
    {{content}}
  </article>
</div>


{{/post}}